/*general body font for the whole site*/
body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif}

body {
    font-size:16px;}

.w3-half img{
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer}

.w3-half img:hover{opacity:1}

/*the following codes are for the table that is put on the members page*/
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th {
    cursor: pointer;
    background-color: gray;
    color: white;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  /*the following code makes the design for the merch shop look like a card with borders*/

  .card {
    border: solid lightskyblue 2px;
    text-align: center;}
  .button{
    margin-left: 40%}