/*Mark Chou*/
/* General */
body {
    width: 400px;
    margin: 0 auto;
    background-image: url(./images/PokeBackground.jpg)
}

table{
    background-image: url(./images/PokeBackground.png); 
 }

/* Styling the products display*/
.item img {
    width: 200px;
    height: 200px; 
    background-color: palevioletred;
    border: 3px solid black;
}

/* Typography */
h1, h2, p, label, td, th, li, .text {
    color: white;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Tomorrow';
    
}

/*  Form styling */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(./images/PokeBackground.png); 
    background-repeat: repeat; 
    background-position: right;
}
  /* block styling */
  .productsbox {
    border: 3px solid black;
    display: flex;
  }


header,footer {
    background-color: palevioletred;
    border: 3px solid black;
}

input[type=submit] {
  width: 10em;  height: 2em;
  font-size: 20px;
  margin-left: 25%
}

/*Nav Bar on Home Page*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
/* Sources: SmartPhoneProducts, w3schools */

/*All css below this is for SLIDESHOW on home page, from w3schools*/
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}


.active {
  background-color: #717171;
}

.mySlides {
    background-image: url(./images/PokeBackground.png);
    border: 3px solid black;
}