/*Author: Faye Miguel & Mark Chou*/

/*General*/
body {
  font-family: "Brushstroke", fantasy;
}
h1 {
  font-size: 60px;
  color: darkolivegreen;
}
h2 {
  font-size: 30px;
  color: darkblue;
}
h3 {
  font-size: 25px;
}

/*Navigation Bar Style*/
  
  ul {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: darkolivegreen;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
  }
  
  li a.active {
    background-color: darkseagreen;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: linen;
    color: black;
  }

          
/* The code below is for Slideshow container */
  .slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    }

/* The code below is for the styling of the dot indicator */
  .dot {
    height: 10px;
    width: 10px;
    background-color: darkolivegreen;
    display: inline-block;
    transition: background-color 0.6s ease;}
  .active {
    background-color: darkseagreen;}

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;}

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}}

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}}

/* The code below is to style the "add to cart" button for the product page*/
.button {
      background-color: darkolivegreen;
      color: white;
      padding: 10px 10px;
      font-size: 14px;
      cursor: pointer;
      font-family: "Brushstroke", fantasy;
    }

tr:hover {
background-color: linen;}

td {
padding-top: 6px;
padding-bottom: 6px;
}

th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: darkolivegreen;
  color: white;
}